.row.navigation
  %nav.navbar{ role: "navigation" }
    %ul.nav
      = nav_item "ElderCare Consulting", root_path
      = nav_item "Continuing Education Topics", continuing_education_topics_path
      = nav_item "About Jessica", about_us_path
      = nav_item "Presentation Schedule", schedule_path
      = nav_item "Contact", contact_path
