.row.navigation
  .span8
    %nav.navbar{ role: 'navigation' }
      %ul.nav
        = nav_item 'ElderCare Consulting', root_path
        = nav_item 'Services', services_path
        = nav_item 'Making a Difference', making_a_difference_path
        = nav_item 'About Jessica', about_jessica_path
        = nav_item 'Contact', contact_path
