= page_header('About Jessica')

.row.content
  .span5
    %p
      Jessica Rowe, LCSW-C,  has worked for 30 years in the field of aging, providing services to older adults and their families in Central Maryland.

    %p
      Because of her extensive work as a therapist and case manager in social services and hospice, a concierge health advisory, and private practice, Jessica has mastered the skills needed to guide families through complex decisions.  She is deeply compassionate and fully devoted to the needs of older adults.  She is particularly sensitive to the concerns of caregivers.

    %p
      Jessica is a lifelong resident of Howard County, Maryland.  She earned a BA from Dickinson College and a Master of Social Work from the University of Michigan, with a Certificate in Aging.


    %p
      She is currently an instructor at the University of Maryland School of Social Work teaching graduate students who are specializing in the field of aging.  Jessica has presented trainings and workshops to a variety of professional and community groups.

    %p
      She is a member of the National Association of Social Workers (NASW), the Aging Life Care™ Association (ALCA), and the Coalition of Geriatric Services (COGS). She is an Aging Life Care™ Manager and a Certified Advanced Social Work Case Manager (C- ASWCM).

    %p
      Jessica is a recipient of the 2015 Maryland Gerontological Association Individual Achievement Award.

  .span3
    .right
      = image_tag 'jessica.jpg'

.row.content
  .span8
    %h4 Jessica Row ElderCare Consulting in local media

.row.content
  .span8
    = link_to 'Examiner.com', 'http://www.examiner.com/article/jessica-rowe-aging-expert-helps-guide-families-through-complex-decisions#sthash.FvWixH5D.dpuf', target: :blank

.row.content
  .span8
    = link_to 'The Beacon, 12/8/2014', 'http://www.thebeaconnewspapers.com/select-stories/features/being-gay-and-gray-howard'

.row.content
  .span8
    = link_to 'The Beacon, 5/19/2015', 'http://www.thebeaconnewspapers.com/events/2015/05/19/caring-yourself-you-care-others-seminar'
