= page_header("Presentation Schedule")

.row.content
  - if @events.any?
    - @events.each do |event|
      .event
        %h3.title= event.date_and_title
        %h4.time= event.time
        %p= event.notes
        .address
          = event.address
        = event.contact
        = event.rsvp
  - else
    %h3 Jessica has no currently scheduled events. Please check back for updates.
